html, body {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit
}

body {
    margin: 0;
    font-family: "PTSansNarrow", "Lucida Grande", "Verdana", serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color: #616161;
    padding-top: 33px;
    background-color: #313131;
}

.content.grid {
    background: url(../img/grid.gif);
}

.content.nohead {
    margin: -78px -20px 0;
    padding: 70px 20px 10px;
}

.container-fluid .content {
    min-width: 0;
}

.content {
    background-color: #fff;
    padding: 20px 20px 10px;
    margin: 0 -20px;
    min-height: 700px;
    min-width: 850px;
}

#brandlarge {
    margin: 0 auto 50px;
    width: 45%;
    padding: 12px 0 8px 75px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

#brandlarge h1 {
    color: #2B404E;
    font-weight: normal;
    font-family: "AxelBold", "Lucida Grande", "Verdana", sans-serif;
    font-size: 36px;
    line-height: 30px;
    margin: 8px 0 3px;
}

#brandlarge p {
    font-size: 16px;
    color: #586872;
}

.modalcontainer.thinbase.login {
    width: 400px;
    margin-bottom: 10px;
}

.modalcontainer.thinbase {
    width: 450px;
}

.header-signup {
    width: 450px !important;
}

.modalcontainer {
    margin: 20px auto 50px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.modalcontainer-header {
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    padding: 3px 15px;
    background: #2b404e;
    margin-top: -3px;
}

.modalcontainer-header h3 {
    color: #fff;
    font-size: 17px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.modalcontainer-body {
    padding: 20px;
}

form .clearfix {
    margin-bottom: 18px;
}

.clearfixSlider {
    margin-bottom: 40px;
    float: left;
    width: 100%;
}

.header-signup label {
    width: 180px !important;
}

.clearfixSlider label {
    float: left !important;
    line-height: 26px;
    height: 26px;
    width: 185px !important;
}

input:focus, textarea:focus {
    outline: 0;
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type=text], input[type=password], input[type=email], textarea {
    -webkit-appearance: none;
}

input, textarea, .uneditable-input {
    display: inline-block;
    width: 210px;

    padding: 8px;
    font-size: 20px;
    line-height: 18px;
    color: #666;
    border: 1px solid #C3C3C3;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #FBFBFB;
}

input, select, textarea {
    font-family: "PTSansNarrow", "Lucida Grande", "Verdana", serif;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
}

button, input {
    line-height: normal;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

input[type="checkbox"] {
    width: 15px;
}

input[type="submit"]:hover {
    background-color: #2f7422;
}

.pull-right {
    float: right;
}

.pull-right input {
    padding: 7px 40px 7px 40px;
    width: 116px;
    font-weight: bold;
}

.pull-rightSignUp input {
    width: 130px !important;
}

.modalcontainer.thinbase.login .linkalign {
    padding-top: 8px;
    margin-bottom: -8px;
}

.login label {
    width: 130px;
}

.slider-outer {
    width: 94px;
    height: 27px;
    overflow: hidden;
}

.slider {
    background: url('../img/itoggle.png') 0 -27px;
    width: 147px;
    height: 27px;
    margin-left: -53px;
}

.containerSignUp {
    padding-bottom: 40px;
}

.filedrop-progressBar {
    position: relative;
    top: 9px;
    height: 20px;
    width: 100%;
    display: inline-block;
    background-color: #d4d4d4;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#eee), to(#d4d4d4));
    background-image: -moz-linear-gradient(top, #eee, #d4d4d4);
    background-image: -ms-linear-gradient(top, #eee, #d4d4d4);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #d4d4d4));
    background-image: -webkit-linear-gradient(top, #eee, #d4d4d4);
    background-image: -o-linear-gradient(top, #eee, #d4d4d4);
    background-image: linear-gradient(top, #eee, #d4d4d4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#d4d4d4', GradientType=0);
    text-shadow: 0 1px 1px white;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-background-clip: padding-box;
}

.filedrop-progressBarInner {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUCAIAAADUTlA/AAAAGXRF…9nDDAfOBrP93A3H6V15fnSEdTBClnT/MM9p386VeAAQCyYPoFaQ10ywAAAABJRU5ErkJggg==') 0 0 repeat-x;
    height: 20px;
    width: 0;
    min-width: 30px;
    -webkit-animation-name: filedrop-progressBarRegress;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: filedrop-progressBarRegress;
    -moz-animation-duration: .5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
