.content.vert-navbg .main {
    margin: -20px -20px -10px 150px;
    padding: 20px;
    background: #fff;
    min-height: 500px;
}

.content.vert-navbg .main section {
    float: left;
    width: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

.header-reports {
    background-image: url(../img/ico_header_reports.png);
    background-repeat: no-repeat;
    background-position: 5px top;
    padding: 6px 0 5px 65px;
    line-height: 36px;
    font-weight: bold;
    font-size: 25px;
}
.header-testers {
    background-image: url(../img/ico_header_testers.png);
    background-repeat: no-repeat;
    background-position: 5px top;
    padding: 6px 0 5px 65px;
    line-height: 36px;
    font-weight: bold;
    font-size: 25px;
}

.flexrow {
    width: 100%;
}

.flexrow .nine.column {
    width: 74.7%;
}

.column:first-child {
    margin-left: 0;
}

.column {
    margin-left: 1.2%;
    float: left;
    min-height: 1px;
    position: relative;
}

.box {
    background: #EFEFEF;
    padding: 10px;
    text-shadow: 0 1px 0 #fff;
    line-height: 18px;
    margin-bottom: 20px;
    color: #9b9b9b;
}

.box + table, h2.box + ul.activity {
    margin-top: -20px;
}

table {
    table-layout: fixed;
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
    border-collapse: separate;
    font-size: 13px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.zebra-striped tbody tr:nth-child(odd) td {
    background-color: #fafafa;
}

.status-ok, .status-permitted {
    background: url(../img/ico_status_ok.png) no-repeat left center;
    padding-left: 20px;
}

table td {
    vertical-align: middle;
}

table th, table td {
    padding: 10px 10px 9px;
    line-height: 18px;
    text-align: left;
}

.flexrow .three.column {
    width: 24.1%;
}

.column {
    margin-left: 1.2%;
    float: left;
    min-height: 1px;
    position: relative;
}

.alert-message.block-message.info {
    background-color: #ddf4fb;
    border-color: #c6edf9;
}

.alert-message.block-message.error, .alert-message.block-message.success, .alert-message.block-message.info {
    color: #616161;
}

.alert-message.block-message {
    background-image: none;
    background-color: #fdf5d9;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    padding: 14px;
    border-color: #fceec1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}

div.loading-animation {
    display: none;
    position: fixed;
    top: 50%;
    margin-top: -75px;
    left: 50%;
    margin-left: -100px;
    width: 75px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    padding: 8px 10px 5px;
    z-index: 1001;
    text-align: center;
}

div.build-report ul.activity {
    list-style: none;
    margin-left: 0;
    margin-bottom: 4px;
    padding: 0;
}