body {
    margin: 0;
    font-family: "PTSansNarrow", "Lucida Grande", "Verdana", serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color: #616161;
    padding-top: 33px;
    background-color: #313131;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 36px;
    font-weight: normal;
    color: #616161;
    font-family: 'PTSansNarrowBold';
}

.content.vert-navbg {
    background: #F0F0F0;
}

.content.vert-navbg .vert-nav {
    float: left;
    display: inline;
    width: 170px;
    margin: -20px 0 0 -20px;
}

.content .vert-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content .vert-nav ul li.anchor {
    color: #616161;
    padding: 18px 14px 14px;
    text-align: center;
    border-bottom: solid 1px #e5e5e5;
    width: 142px;
    font-size: 10px;
    text-shadow: 0 1px 0 #fff;
}

.content .vert-nav ul li {
    float: left;
    width: 100%;
}

li {
    line-height: 18px;
}

.content .vert-nav ul li.anchor h1 {
    margin-bottom: 12px;
}

.content .vert-nav ul li.anchor h2 {
    font-size: 10px;
    font-weight: bold;
    line-height: 26px;
}

.content .vert-nav ul li.navheader {
    background: #e1e1e1;
    font-family: "PTSansNarrowBold", "Lucida Grande", "Verdana", serif;
    font-size: 16px;
    font-weight: normal;
    line-height: auto;
    width: 100%;
}

.content .vert-nav ul li {
    float: left;
}

.content .vert-nav ul li.navheader a {
    font-size: 13px;
    padding: 11px 0 9px 10px;
    width: 160px;
    font-weight: bold;
}

a {
    color: #2782cd;
    text-decoration: none;
    line-height: inherit;
    font-weight: inherit;
}

.content .vert-nav ul li a.settings.active, .content .vert-nav ul li a.settings.active:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.content .vert-nav ul li a.settings {
    background: url(../img/ico_nav_settings.png) no-repeat 10px 12px;
}

.content .vert-nav ul li a {
    font-size: 16px;
    color: #616161;
    text-shadow: 0 1px 0 #fff;
    padding: 12px 10px;
    border-bottom: solid 1px #e5e5e5;
    float: left;
    padding-left: 35px;
    width: 125px;
}

.content.vert-navbg .main {
    margin: -20px -20px -10px 150px;
    padding: 20px;
    background: #fff;
    min-height: 600px;
}

.content.vert-navbg .main section {
    float: left;
    width: 100%;
}

.content .contain {
    max-width: 900px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

.header-appinfo {
    background-image: url(../img/ico_header_appinfo.png);
    background-repeat: no-repeat;
    background-position: 5px top;
    padding: 6px 0 5px 65px;
    line-height: 36px;
    font-weight: bold;
    font-size: 25px;
}

h1 {
    margin-bottom: 18px;
    font-size: 30px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 36px;
    font-weight: normal;
    color: #616161;
    font-family: 'PTSansNarrowBold';
}

.row {
    margin-left: -20px;
}

.span14 {
    width: 820px;
}

[class*="span"] {
    display: inline;
    float: left;
    margin-left: 20px;
}

.flexrow {
    width: 100%;
}

.flexrow .four.column {
    width: 32.53%;
    font-weight: bold;
    font-size: 15px;
}

.column:first-child {
    margin-left: 0;
}

.column {
    margin-left: 1.2%;
    float: left;
    min-height: 1px;
    position: relative;
}

label small {
    font-size: 14px;
    color: #999;
    font-family: "PTSansNarrow", "Lucida Grande", "Verdana", serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
}

.flexrow .eight.column {
    width: 66.27%;
}

table {
    table-layout: fixed;
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
    border-collapse: separate;
    font-size: 13px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table tr + tr td {
    border-top: 1px solid #efefef;
}

table td {
    vertical-align: middle;
}

table th, table td {
    padding: 10px 10px 9px;
    line-height: 18px;
    text-align: left;
}

.indent {
    margin-left: 10px;
}

form {
    margin-bottom: 18px;
}

fieldset {
    margin-bottom: 18px;
}

.row {
    margin-left: -20px;
}

.span14 {
    width: 820px;
}

form .clearfix {
    margin-bottom: 18px;
}

.flexrow {
    width: 100%;
}

.column:first-child {
    margin-left: 0;
}

label {
    padding-top: 6px;
    font-family: "PTSansNarrowBold", "Lucida Grande", "Verdana", serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 18px;
    float: left;
    width: 240px;
    text-align: left;
    color: #616161;
}

label small {
    font-size: 14px;
    color: #999;
    font-family: "PTSansNarrow", "Lucida Grande", "Verdana", serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
}

.content.vert-navbg .main p {
    padding: 0 10px;
}

.actions.right {
    text-align: right;
}

.actions {
    margin-top: 18px;
    margin-bottom: 18px;
    text-align: center;
}

.right {
    text-align: right;
}

p {
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 9px;
}

.actions.right a, .actions.right button, .actions.right input {
    margin-left: 10px;
}

.btn.wide {
    padding: 7px 40px 7px 40px;
}

.btn.primary {
    color: #fff;
    background-color: #2f7422;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#57b43e), to(#2f7422));
    background-image: -moz-linear-gradient(top, #57b43e, #2f7422);
    background-image: -ms-linear-gradient(top, #57b43e, #2f7422);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #57b43e), color-stop(100%, #2f7422));
    background-image: -webkit-linear-gradient(top, #57b43e, #2f7422);
    background-image: -o-linear-gradient(top, #57b43e, #2f7422);
    background-image: linear-gradient(top, #57b43e, #2f7422);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57b43e', endColorstr='#2f7422', GradientType=0);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
    border-color: #2f7422 #2f7422 #173911;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.actions a, .actions button, .actions input {
    margin-left: 10px;
}

.span14 {
    width: 820px;
}

[class*="span"] {
    display: inline;
    float: left;
    margin-left: 20px;
}

.alert-message.block-message {
    background-image: none;
    background-color: #fdf5d9;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    padding: 14px;
    border-color: #fceec1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}

.alert-message h5 {
    line-height: 18px;
    font-weight: bold;
}

.label.warning {
    background-color: #d55c26;
}

em.red {
    color: #9d261d;
    font-style: normal;
}

em {
    font-style: italic;
    font-weight: inherit;
    line-height: inherit;
}

.flexrow .five.column {
    width: 40.97%;
}

.alert-message .btn {
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0 0 0 rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.25);
    background: rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #FFF;
    padding: 3px 10px;
    text-shadow: none;
    border: none;
    margin-right: 5px;
}

.content .vert-nav ul li a.feedback {
    background: url(../img/ico_nav_feedback.png) no-repeat 10px 14px;
    width: 100%;
}

.content .vert-nav ul li span {
    float: right;
    background: #cdd5dc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 4px 6px 4px;
    margin: -2px 0;
    color: #555;
    line-height: 13px;
    font-weight: normal;
    text-shadow: none;
    font-size: 15px;
}

.content .vert-nav ul li a.sessions.inactive {
    background: url(../img/ico_nav_sessions_dim.png) no-repeat 10px 12px;
}

.content .vert-nav ul li a.sessions.inactive {
    color: #9D9D9D;
    width: 100%;
}

.content .vert-nav ul li a.sessions:hover {
    background: #f7f7f7 url(../img/ico_nav_sessions.png) no-repeat 10px 12px;
    width: 100%;
}

.content .vert-nav ul li a.sessions {
    background: url(../img/ico_nav_sessions.png) no-repeat 10px 12px;
}

.content .vert-nav ul li a.crashes.inactive {
    background: url(../img/ico_nav_crashes_dim.png) no-repeat 10px 12px;
}

.content .vert-nav ul li a.crashes.inactive {
    color: #9D9D9D;
    width: 100%;
}

.content .vert-nav ul li a.crashes:hover {
    background: #f7f7f7 url(../img/ico_nav_crashes.png) no-repeat 10px 12px;
    width: 100%;
}

.content .vert-nav ul li a.crashes {
    background: url(../img/ico_nav_crashes.png) no-repeat 10px 12px;
}

.content .vert-nav ul li a.crashes {
    background: url(../img/ico_nav_crashes.png) no-repeat 10px 12px;
}

.content .vert-nav ul li a.checkpoints.inactive {
    background: url(../img/ico_nav_checkpoints_dim.png) no-repeat 10px 10px;
}

.content .vert-nav ul li a.checkpoints.inactive {
    color: #9D9D9D;
}

.content .vert-nav ul li a.checkpoints:hover {
    background: #f7f7f7 url(../img/ico_nav_checkpoints.png) no-repeat 10px 10px;
    width: 100%;
}

.content .vert-nav ul li a.checkpoints {
    background: url(../img/ico_nav_checkpoints.png) no-repeat 10px 10px;
}

.content .vert-nav ul li .getsdk {
    background: #adadad;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFF;
    font-size: 12px;
    font-family: 'PTSansNarrowBold';
    width: 154px;
    background-image: url(../img/ico_getsdk.png);
    background-repeat: no-repeat;
    background-position: 17px center;
    margin-top: 10px;
    padding: 5px 0 5px 48px;
    text-shadow: none;
    width: 100%;
    float: none;
    display: block;
}

.content .vert-nav ul li a {
    font-size: 11px;
    color: #616161;
    text-shadow: 0 1px 0 #fff;
    padding: 12px 10px;
    border-bottom: solid 1px #e5e5e5;
    float: left;
    padding-left: 35px;
    width: 125px;
}

.content .vert-nav ul li a.settings.active {
    background: #6385a0 url(../img/ico_nav_settings_o.png) no-repeat 10px 12px;
    width: 100%;
}

.content .vert-nav ul li a.testers {
    background: url(../img/ico_nav_testers.png) no-repeat 10px 13px;
}

.content .vert-nav ul li a.report {
    background: url(../img/ico_nav_reports.png) no-repeat 10px 14px;
    width: 100%;
}

.content .vert-nav ul li h5 {
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    background: #D3D3D3;
    color: #7D7D7D;
    line-height: 18px;
}

.content .vert-nav ul li p {
    padding: 8px;
    color: #9D9D9D;
    background: #E4E4E4;
    margin-bottom: 0;
}

strong {
    font-weight: bold;
}

.flexrow .seven.column {
    width: 57.83%;
    font-size: 11px;
}