/* Large desktops and laptops */
@media (min-width: 1200px) {
    .no-device-alert {
        display: block !important;
    }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .no-device-alert {
        display: block !important;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .no-device-alert {
        display: block !important;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .yes-device-alert {
        display: block !important;
    }

}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .yes-device-alert {
        display: block !important;
    }

}