.offset1 {
    margin-left: 80px;
}

.span13 {
    width: 760px;
}

[class*="span"] {
    display: inline;
    float: left;
    margin-left: 20px;
}

fieldset {
    margin-bottom: 18px;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
}

form .clearfix {
    margin-bottom: 18px;
}

label {
    padding-top: 6px;
    font-family: "PTSansNarrowBold", "Lucida Grande", "Verdana", serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    line-height: 18px;
    float: left;
    width: 240px;
    text-align: left;
    color: #616161;
}

form .input {
    margin-left: 260px;
}

input.span9, textarea.span9, select.span9, .uneditable-input.span9 {
    display: inline-block;
    float: none;
    width: 510px;
    margin-left: 0;
}

input[type=text], input[type=password], input[type=email], textarea {
    -webkit-appearance: none;
}

.spacetop {
    margin-top: 10px;
    font-size: 10px;
}

p {
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 9px;
}

.actions.right {
    text-align: right;
}

.actions {
    margin-top: 18px;
    margin-bottom: 18px;
    text-align: center;
}

.actions.right a, .actions.right button, .actions.right input {
    margin-left: 10px;
}

.btn.wide {
    padding: 7px 40px 7px 40px;
}

.btn.primary {
    color: #fff;
    background-color: #2f7422;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#57b43e), to(#2f7422));
    background-image: -moz-linear-gradient(top, #57b43e, #2f7422);
    background-image: -ms-linear-gradient(top, #57b43e, #2f7422);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #57b43e), color-stop(100%, #2f7422));
    background-image: -webkit-linear-gradient(top, #57b43e, #2f7422);
    background-image: -o-linear-gradient(top, #57b43e, #2f7422);
    background-image: linear-gradient(top, #57b43e, #2f7422);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57b43e', endColorstr='#2f7422', GradientType=0);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
    border-color: #2f7422 #2f7422 #173911;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.actions a, .actions button, .actions input {
    margin-left: 10px;
}

input[type=button], input[type=reset], input[type=submit] {
    width: auto;
    height: auto;
}

.header-testers {
    background-image: url(../img/ico_header_testers.png);
    background-repeat: no-repeat;
    background-position: 5px top;
    padding: 5px 0 0 65px;
}

.subhead {
    line-height: 18px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 18px;
    font-size: 30px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 36px;
    font-weight: normal;
    color: #616161;
    font-family: 'PTSansNarrowBold';
}

label > strong {
    font-weight: bold;
    font-size: 15px;
}

label > small {
    font-weight: normal;
    font-size: 12px;
}